.section__heading {
    text-align: center;
    font-family: 'RalewayBold';
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.8rem;
    margin-top: .5rem;
    line-height: 1.5;
    margin-bottom: 2rem;

    @include respond(phone) {
       font-size: 2.6rem;
    }

    & span {
        font-family: 'RalewayLight';
        font-size: 1.8rem;
        display: block;
        font-weight: 300;
    }

    &--gallery {
        text-align: left;

        @include respond(phone) {
            text-align: center;
        }
    }
}