.gallery {
    padding: 5% 8%;
    background-color: #151515;
    color: #fff;
    background-size: cover;
    background-position: top center;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__description {
        margin: 3rem 0;
        font-family: 'RalewayRegular';
        font-size: 1.6rem;

        & strong {
            color: $accent;
        }
    }

    &__content {
        width: 45rem;
        margin-right: 1.5rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__images {
        @include respond(tab-port) {
            width: 100%;
        }
    }
}

.fotorama__thumb-border {
    border-color: #3d3c3c;
}
		
.fotorama__active .fotorama__thumb {
    border-color: #3d3c3c;
}

.fotorama__nav-wrap {
    bottom: 1.5rem;
    position: absolute;
    padding: 0 3rem;
    width: 100%;
}