.header {
    height: 100vh;
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-position: top center;

    &__list {
        display: flex;
        list-style: none;
    }

    &__logo {
        width: 12.5rem;
        height: auto;
        padding-top: 2.6rem;
    }

    &__phone {
        font-family: 'FiraSansRegular';
        font-size: 2.2rem;
        color: #fff;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-top: 1rem;

        .fa-mobile {
            color: #666;  
            padding-right: .7rem;
            margin-top: -1.2rem;
       }
    }

    &__phone-text {
        margin-top: -1rem;
    }
}

.hamburger-box {
	width: 34px;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	border-radius: 0;
	background-color: #fff;
	height: 2px;
	width: 34px;
}

