.reviews {
    background-size: cover;
    background-position: top center;
    padding: 5% 0;
    position: relative;

    @include respond(tab-port) {
        padding: 5% 2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__slider-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-family: 'RalewayBold';
        text-transform: uppercase;
        font-size: 3rem;
        color: #fff;
        text-align: center;

        & span,
        &--partners {
            color: $accent;
        }
    }

    &__name {
        font-family: 'Times New Roman',serif;
        font-style: italic;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
    }

    &__date {
        font-family: 'Times New Roman',serif;
        font-style: italic;
        font-size: 1.4rem;
        margin-top: 2px;
        color: #888;
    }

    &__stars {
        margin: 2rem 0 3.5rem;
        font-size: 1.4rem;
        color: #f9c766;

        & .fa {
            margin: 0 2px;
        }
    }

    &__text {
        color: #a9a9a9;
        font-weight: 300;
        font-size: 1.6rem;
        font-family: 'RalewayRegular';
        max-width: 75rem;
        text-align: center;
    }
}

.reviews__slider.owl-carousel .owl-nav.disabled {
    display: none;
}

.reviews__slider .owl-dots {
    width: 100%;
    text-align: center;
	margin-top: 60px;
}

.owl-dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 10em;
    display: inline-block;
    margin: 4px;
    transition: background-color .25s ease, transform .25s ease;
}

.owl-dot.active {
    background-color: $accent;
    transform: scale(1.3);
}

.quotes {
    position: absolute;
    width: 100%;
    
    &::before, &::after {
        content: ',,';
		position: absolute;
		font-size: 54px;
		color: $accent;
		font-family: 'Times New Roman', serif;
		font-weight: bold;
		line-height: 0;
		transform: rotate(180deg);
        display: block;
    }

    @include respond(tab-port) {
        display: none;
    }
}

.quotes::before {
    top: 30px;
    left: 15%;
}

.quotes::after {
    top: -10px;
    right: 15%;
    transform: rotate(0);
}